services:
  backend:
    build: ./backend
    image: chatbot-backend:latest
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/code/app
      - ./backend/logs:/code/logs
    depends_on:
      - db
      - milvus
    env_file:
      - ./backend/.env
    models:
      - llm
      - embedding
      # llm:
      #   endpoint_var: http://localhost:12434
      #   model_var: LLM_MODEL
      # embedding:
      #   endpoint_var: http://localhost:12434/engines/llama.cpp/v1/
      #   model_var: EMBEDDING_MODEL
  
  db:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: chatbot

  milvus:
    image: milvusdb/milvus:v2.6.11
    container_name: milvus
    ports:
      - "19530:19530"   # gRPC
      - "9091:9091"     # REST / metrics
      - "2379:2379"     # etcd client port
    volumes:
      - ./milvus_data:/var/lib/milvus
      - ./milvus_data/configs/embedEtcd.yaml:/milvus/configs/embedEtcd.yaml
      - ./milvus_data/configs/user.yaml:/milvus/configs/user.yaml
    environment:
      TZ: UTC
      ETCD_USE_EMBED: "true"
      ETCD_CONFIG_PATH: /milvus/configs/embedEtcd.yaml
      COMMON_STORAGETYPE: local
      DEPLOY_MODE: STANDALONE
    command: ["milvus", "run", "standalone"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/healthz"]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 90s
    security_opt:
      - seccomp:unconfined

models:
  llm:
    model: ai/qwen3:0.6B-Q4_0
  embedding:
    model: ai/qwen3-embedding:0.6B-F16